.liquid
.shake
_pier
.stack-work*
.stack2cabal
__*
node_modules
*.fsdb
*.comp.yaml
*.track.yaml
*.jsexe
*.js_hi
*.js_o
*.js_dyn_hi
*.js_dyn_o
*.swo
*.swn
*.swm
*.prof
*.dump-splices
result*
**/_build/**
**/_static/**
**/_template/**
dist-*
.ghc.*
*.local
ghc-*
uom-plugin-*
*.hi
*.o
*.swp
*.un~
bazel-*
*.orig
*.swl
**/.ionide/**
**/.vs/**
**/bin/**
**/obj/**
lang-fsharp/packages
*.swk
*.swj
.updo
updo