// https://stackoverflow.com/questions/33649761/how-do-i-load-font-awesome-using-scss-sass-in-webpack-using-relative-paths
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~bulma/sass/utilities/initial-variables.sass"
$family-serif: "Merriweather", "Georgia", serif
$family-primary: $family-serif
@import "~bulma/bulma.sass";

body, input, button, select, textarea
    font-family: 'Open Sans', monospace;

.spacer
    height: 20px;

.box span.tag
    border-radius: 0;

.th-speed-section
    @extend .is-link;

.th-speed
    @extend .is-link;
    @extend .has-text-right;

.th-distance
    @extend .is-info;

.th-distance-points-breakdown
    @extend .is-link;

.th-distance-points
    @extend .is-link;
    @extend .has-text-right;

.th-points
    @extend .is-primary;

.th-norm, .td-norm
    @extend .is-black;

.td-norm, .th-diff
    @extend .has-text-right;

.td-norm.td-norm-start, .td-norm.td-norm-end, .th-norm.th-start, .th-norm.th-time-diff, .td-norm.td-time-diff, .th-norm.th-norm-pace, .td-norm.td-norm-pace
    @extend .has-text-centered;

.th-total-points
    @extend .is-primary;
    @extend .has-text-right;

.tr-weight
    @extend .is-italic;

.tr-validity
    @extend .is-italic;

.tr-allocation
    @extend .is-italic;

.th-speed-units
    @extend .has-text-right;

.th-min-distance
    @extend .has-text-right;

.th-best-distance
    @extend .has-text-right;

.th-alt-distance
    @extend .has-text-right;

.th-landed-distance
    @extend .has-text-right;

.th-min-distance-units
    @extend .has-text-right;

.th-best-distance-units
    @extend .has-text-right;

.th-alt-distance-units
    @extend .has-text-right;

.th-landed-distance-units
    @extend .has-text-right;

.th-reach-alloc
    @extend .has-text-right;

.th-effort-alloc
    @extend .has-text-right;

.th-distance-alloc
    @extend .has-text-right;

.th-leading-alloc
    @extend .has-text-right;

.th-time-alloc
    @extend .has-text-right;

.th-arrival-alloc
    @extend .has-text-right;

.th-task-alloc
    @extend .has-text-right;

.th-distance-validity
    @extend .has-text-right;

.th-time-validity
    @extend .has-text-right;

.th-task-validity
    @extend .has-text-right;

.th-distance-weight
    @extend .has-text-right;

.th-leading-weight
    @extend .has-text-right;

.th-time-weight
    @extend .has-text-right;

.th-arrival-weight
    @extend .has-text-right;

.th-placing
    @extend .has-text-right;

.th-start-start, .th-start-gate, .th-awarded-start
    @extend .has-text-centered;

.th-end, .th-awarded-end
    @extend .has-text-centered;

.th-pace
    @extend .has-text-centered;

table:not(.sg) .th-start-gate, table:not(.sg) .th-time
    text-decoration: line-through;
    @extend .has-text-danger;

.th-pace
    @extend .has-text-centered;

.th-time
    @extend .has-text-centered;

.th-best-distance
    @extend .has-text-right;

.th-reach-points
    @extend .has-text-right;

.th-effort-points
    @extend .has-text-right;

.th-lead-points
    @extend .has-text-right;

.th-time-points
    @extend .has-text-right;

.th-arrival-points
    @extend .has-text-right;

.th-time-points.gr-zero
    text-decoration: line-through;
    @extend .has-text-danger;

table.pg .th-arrival-points, table.hg .th-arrival-points.gr-zero
    text-decoration: line-through;
    @extend .has-text-danger;

.pg.not, .sg.not, span.gr-zero
    @extend .has-text-danger;
    text-decoration: line-through;

.td-placing
    @extend .has-text-right;
    @extend .has-text-weight-bold;

tr.pilot-dfnt .td-pilot
    @extend .has-text-info;

.td-pilot
    width: 10vw;

.td-start-start
    @extend .has-text-centered;

table:not(.sg) .td-start-start
    @extend .has-text-success;

.td-start-gate
    @extend .has-text-centered;

table.sg .td-start-gate
    @extend .has-text-success;

.td-awarded-start
    @extend .has-text-centered;
    @extend .has-text-success;

.td-end, .td-awarded-end
    @extend .has-text-centered;
    @extend .has-text-danger;

.td-pace
    @extend .has-text-centered;

table:not(.sg) .td-pace
    @extend .has-text-info;

.td-time
    @extend .has-text-centered;

table.sg .td-time
    @extend .has-text-info;

table:not(.sg) .td-time
    color: transparent;

.td-speed
    @extend .has-text-right;

.td-speed-distance
    @extend .has-text-right;

.td-min-distance
    @extend .has-text-right;

.td-best-distance
    @extend .has-text-right;

.td-alt-distance
    @extend .has-text-right;

.td-landed-distance
    @extend .has-text-right;

tr.pilot-dfnt .td-best-distance:not(.award-free), tr.pilot-dfnt .td-landed-distance:not(.award-free)
    @extend .has-text-info;

tr.pilot-dfnt .td-best-distance.award-free, tr.pilot-dfnt .td-landed-distance.award-free
    text-decoration: line-through;
    @extend .has-text-danger;

.td-reach-points
    @extend .has-text-right;

.td-effort-points
    @extend .has-text-right;

table.pg .th-effort-points
    text-decoration: line-through;
    @extend .has-text-danger;

.td-distance-points
    @extend .has-text-right;

.td-leading-points
    @extend .has-text-right;

.td-time-points
    @extend .has-text-right;

.td-time-points.gr-zero
    color: transparent; 

.td-arrival-points
    @extend .has-text-right;

.td-arrival-points.gr-zero
    color: transparent; 

table.pg .td-effort-points, table.pg .td-arrival-points
    color: transparent;

.td-total-points
    @extend .has-text-right;
    @extend .has-text-weight-bold;

.th-tp-distance-leg
    @extend .has-text-right;

.th-tp-distance-task, .th-tp-distance-flip
    @extend .has-text-right;

.th-tp-radius
    @extend .has-text-right;

.th-tp-lat
    @extend .has-text-right;

.th-tp-lng
    @extend .has-text-left;

.td-tp-distance-leg
    @extend .has-text-info;

.td-tp-distance-leg, .td-tp-distance-task, .td-tp-distance-flip
    @extend .has-text-right;

.td-tp-distance-task
    @extend .has-text-weight-bold;

.td-tp-distance-flip
    @extend .has-text-danger

tr.tr-tp-distance-leg td
    background-color: $table-striped-row-even-background-color;

.td-tp-distance-leg::after
    @extend .has-text-info
    @extend .has-text-weight-bold;
    content: " ↕";

.td-tp-distance-task::after
    content: " ↑";

.td-tp-distance-flip::after
    content: " ↓";
    @extend .has-text-weight-bold;

.td-tp-radius
    @extend .has-text-right;

.td-tp-name
    @extend .has-text-weight-bold;

.td-tp-lat
    @extend .has-text-right;

.td-tp-latl
    @extend .has-text-left;

.th-tp-open
    @extend .has-text-right;

.td-tp-open
    @extend .has-text-success;
    @extend .has-text-right;

.th-tp-close
    @extend .has-text-left;

.td-tp-close
    @extend .has-text-danger;
    @extend .has-text-left;

.th-tp-altitude
    @extend .has-text-right;

.td-tp-altitude
    @extend .has-text-right;

.th-tp-give
    @extend .has-text-right;

.td-tp-give
    @extend .has-text-right;

tr.start-speed > .td-tp-name
    @extend .td-tp-name;
    @extend .has-text-success;

tr.end-speed > .td-tp-name
    @extend .td-tp-name;
    @extend .has-text-danger;

.tr-dnf td.td-dnf, .tr-give td.td-missing
    @extend .has-text-centered;
    @extend .has-text-weight-bold;
    border: $table-cell-border;
    vertical-align: middle;
    background-color: $table-striped-row-even-background-color;
    background-image: repeating-linear-gradient(-45deg, $table-background-color, $table-background-color 30px, $table-striped-row-even-background-color 30px, $table-striped-row-even-background-color 60px)

.th-geo-network
    @extend .is-info;

.th-geo-path
    @extend .is-primary;

.th-geo-how-far
    @extend .is-warning;

table td.td-geo-plane, table td.td-geo-pythagorus
    vertical-align: middle;

.subtitle + .subtitle
    margin-top: -1.25rem;

.th-penalty, .td-penalty
    @extend .has-text-right;

.th-awarded-reach, .td-awarded-reach
    @extend .has-text-right;

.th-plot-reach, .td-plot-reach
    @extend .has-text-right;

.function-plot .top-right-legend
  font-size: 10px;
  fill: transparent;

.function-plot .title
  font-size: 14px;

// SEE: http://colorbrewer2.org/#type=qualitative&scheme=Set1&n=5
// red #e41a1c
// blue #377eb8
// green #4daf4a
// purple #984ea3
// orange #ff7f00
.legend-reach
  color: #377eb8;

.legend-effort
  color: #ff7f00;

.legend-time
  color: #4daf4a;

.legend-leading
  color: #e41a1c;

.legend-arrival
  color: #984ea3;
