// https://stackoverflow.com/questions/33649761/how-do-i-load-font-awesome-using-scss-sass-in-webpack-using-relative-paths
$fa-font-path: "~font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/bulma/bulma.sass";

html {
    font-size: 16pt;
}

body, input, button, select, textarea {
    font-family: 'Open Sans', monospace;
}

.spacer {
    height: 20px;
}
